.nav__login > span, 
.header__button2 > b,
.header__button1 > span,
.destinations__button > b,
.slider__button > img,
.prepare__button > b,
.subscribe__button > b, 
.footer__login > span {
    z-index: 15;
}


.nav__links > a:hover,
.footer__links > a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
.nav__singup:hover,
.footer__singup:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}


.nav__login::after,
.header__button1::after,
.header__button2::after,
.destinations__button::after,
.slider__button::after,
.prepare__button::after,
.subscribe__button::after,
.footer__login::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0 at 20% 100%);
    background-color: rgb(243, 51, 51);
    transition: 0.4s;
}
.header__button1::after {
    background-color: rgba(0, 107, 38, 0.6);
}
.slider__button::after {
    clip-path: circle(0% at 50% 50%);
}

.nav__login:hover::after,
.header__button1:hover::after,
.header__button2:hover::after,
.destinations__button:hover::after,
.slider__button:hover::after,
.prepare__button:hover::after,
.subscribe__button:hover::after,
.footer__login:hover::after {
    clip-path: circle(120% at 20% 100%);
}
.slider__button:hover::after {
    clip-path: circle(60% at 50% 50%);
}
